extends layout

block content
  #create-container
    h1.page-title Create a game
    #create-wrapper
        h4 Set role distribution
        .role-distribution
            each role in roles
                .role
                    h6.role-name= role.name
                    .role-description= role.description
                    .role-alignment= 'Aligned with the ' + role.alignment
                    .role-controls
                        .role-control-btn
                            .fa.fa-plus#increment-btn
                        .current-count 0
                        .role-control-btn
                            .fa.fa-minus#decrement-btn
        button(type="button") Create Game

