extends layout

block content
  #landing-container
    #landing-wrapper
      .landing-wrapper-title
        h1= title
      .landing-wrapper-body
        form#landing-form(action="/create", method="POST")
          input#username(type="text", name="username", autocomplete="off", placeholder="Username", required)
          button(type="submit") Create New Game
          button(type="button") Join Existing
  <script src="/javascripts/landing.js"></script>
