extends layout

block content
  #landing-container
    #landing-wrapper
      .landing-wrapper-title
        h1= title
      .landing-wrapper-body
        form#join-game-form(action="/join", method="POST")
          input#username(type="text", name="username", autocomplete="off", placeholder="Username", required)
          input#game(type="text", name="game", autocomplete="off", placeholder="Lobby Secret", required)
          button#join-game(type="submit") Join Existing
        h5.hr-with-text
          span OR
        a(href='/game' class='btn') Create New Game
  <script src="/javascripts/landing.js"></script>
