doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    <script src="https://kit.fontawesome.com/bb6b7b6441.js" crossorigin="anonymous"></script>
