@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --color-input-border: var(--color-input-border);
  --color-red: rgba(195, 7, 63, 1);
  --color-red-dark: rgba(149, 7, 64, 1);
  --color-red-darker: rgba(111, 34, 50, 1);
  --color-font: rgba(255, 255, 255, 1);
  --color-font-secondary: rgba(78, 78, 80, 1);

  --theme-dark-0: rgba(0, 0, 0, 1);
  --theme-dark-1: rgba(18, 18, 18, 1);
  --theme-dark-2: rgba(29, 29, 29, 1);
  --theme-dark-3: rgba(33, 33, 33, 1);
  --theme-dark-4: rgba(36, 36, 36, 1);
  --theme-dark-5: rgba(38, 38, 38, 1);
  --theme-dark-6: rgba(44, 44, 44, 1);
  --theme-dark-7: rgba(45, 45, 45, 1);
  --theme-dark-8: rgba(50, 50, 50, 1);
  --theme-dark-9: rgba(53, 53, 53, 1);
  --theme-dark-10: rgba(55, 55, 55, 1);
  --theme-font-on-background: rgba(255, 255, 255, .87);
  --theme-font-on-surface-1: rgba(255, 255, 255, .60);
  --theme-font-on-surface-2: rgba(255, 255, 255, .38);
  --theme-font-on-primary: rgba(0, 0, 0, 1)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  background-color: var(--theme-dark-1);
  font: 14px 'Roboto', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: var(--theme-font-on-surface-1);
  margin-bottom: 20px;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
/* -------- */
/* FORM CSS */
/* -------- */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  color: var(--color-font);
  border-radius: 4px;
}
input[type="text"] {
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 15px 20px;
  border: 1px solid var(--color-input-border);
  background: var(--theme-dark-1);
}
input:focus {
  -moz-box-shadow: inset 0 0 10px var(--theme-dark-0);
  -webkit-box-shadow: inset 0 0 10px var(--theme-dark-0);
  box-shadow: inset 0 0 10px var(--theme-dark-0);
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}
[placeholder]::-webkit-input-placeholder { color: var(--theme-font-on-background); }
[placeholder]:hover::-webkit-input-placeholder { color: var(--theme-font-on-surface-1); }
[placeholder]:focus::-webkit-input-placeholder { color: transparent; }
[placeholder]::-moz-placeholder { color: var(--theme-font-on-background); }
[placeholder]:hover::-moz-placeholder { color: var(--theme-font-on-surface-1); }
[placeholder]:focus::-moz-placeholder { color: transparent; }
[placeholder]:-ms-input-placeholder { color: var(--theme-font-on-background); }
[placeholder]:hover:-ms-input-placeholder { color: var(--theme-font-on-surface-1); }
[placeholder]:focus:-ms-input-placeholder { color: transparent; }
textarea {
  display: block;
  width: 100%;
  height: 150px;
  margin: 0 0 20px;
  padding: 8px 12px 10px 12px;
  border: 1px solid var(--color-input-border);
  background: var(--theme-dark-1);
}
input[type="submit"],button,.btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border: 1px solid var(--color-input-border);
  background: var(--theme-dark-2);
  margin-bottom: 20px;
  border: 1px solid var(--theme-dark-1);
  color: var(--theme-font-on-surface-1);
  text-decoration: none;
}
input[type="submit"]:hover,button:hover,.btn:hover {
  cursor: pointer;
  background: var(--theme-dark-3);
  color: var(--theme-font-on-surface-2);
}
input[type="submit"]:active,button:active,.btn:active {
  background: var(--theme-dark-1);
  -moz-box-shadow: inset 0 0 10px var(--theme-dark-0);
  -webkit-box-shadow: inset 0 0 10px var(--theme-dark-0);
  box-shadow: inset 0 0 10px var(--theme-dark-0);
  outline: none;
  color: var(--theme-font-on-background);
}
/* -------- */
/* LANDING  */
/* -------- */
#landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
#landing-wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: var(--theme-dark-2);
  padding: 40px 30px 30px;
  border-radius: 4px;
  -moz-box-shadow: 0 2px 5px var(--theme-dark-0);
  -webkit-box-shadow: 0 2px 5px var(--theme-dark-0);
  box-shadow: 0 2px 5px var(--theme-dark-0);
}
.landing-wrapper-title {
  text-align: center;
  margin-bottom: 30px;
}
.hr-with-text {
  display: flex;
  flex-direction: row;
}
.hr-with-text::before,.hr-with-text::after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid var(--theme-font-on-surface-1);
  margin: auto;
}
.hr-with-text span {
  margin: 0 10px;
}
/* -------- */
/* CREATE   */
/* -------- */
#create-container {
  min-height: 100%;
  padding: 30px;
}
#create-wrapper {
  background-color: var(--theme-dark-2);
  padding: 30px;
  -moz-box-shadow: 0 2px 5px var(--theme-dark-0);
  -webkit-box-shadow: 0 2px 5px var(--theme-dark-0);
  box-shadow: 0 2px 5px var(--theme-dark-0);
  border-radius: 4px;
}
.page-title {
  color: var(--theme-font-on-background);
}
.role-distribution {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.role {
  background-color: var(--theme-dark-1);
  color: var(--theme-font-on-background);
  padding: 20px;
  width: 30%;
  margin-bottom: 20px;
  -moz-box-shadow: inset 0 0 10px var(--theme-dark-0);
  -webkit-box-shadow: inset 0 0 10px var(--theme-dark-0);
  box-shadow: inset 0 0 10px var(--theme-dark-0);
  border-radius: 4px;
}
.role-controls {
  display: flex;
  justify-content: flex-end;
}
.btn-small {
  padding: 10px;
  margin: 0;
}
.current-count {
  width: 50px!important;
  text-align: center;
  margin: 0!important;
  padding: 0!important;
}
.increment-btn, .decrement-btn {
  vertical-align: middle;
  -moz-box-shadow: 0 2px 5px var(--theme-dark-0);
  -webkit-box-shadow: 0 2px 5px var(--theme-dark-0);
  box-shadow: 0 2px 5px var(--theme-dark-0);
}
.increment-btn:active, .decrement-btn:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}